<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
    <div class="login-container">
    
        
        <div class="login-buttons" id="login">
        <a>Configurçoes</a>
        </div>

        <div class="login-buttons" id="login_profissional">
            
        </div>
    </div>
    
</body>
    <script src="../assets/js/index.js"></script>
    <script src="../assets/js/paciente/paciente_login.js"></script>
    <script src="../assets/js/profissional/profissional_login.js"></script>
</html>
 